/* Reset Styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li {
    margin-left: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Home Section */
#home {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

#home h1 {
    font-size: 36px;
    color: #333;
}

#home p {
    font-size: 18px;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px 0;
}

section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

section ul li {
    font-size: 18px;
    color: #666;
    margin-bottom: 8px;
}

/* Contact Section */
#contact a {
    color: #4CAF50;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Menghilangkan scrollbar horizontal */
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Gambar Slider */
.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container .centered {
    color: black; 
}
